* {  /* * representa todo o conteúdo da pagina */
    margin: 0;
    box-sizing: border-box; /*Para conta o tamanho a partir da borda*/
    padding-bottom: 0;
}


:root {
    font-size: 62.5%;
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

body {
    background: var(--backgrond);
    margin-top: 5.0rem;
    width: 100vw;        
}

.menu {
    margin-inline: auto;
    align-items: center;

}

.menu, ul, a{
    display: flex;
    gap: 3.24rem;
    list-style-type: none;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;                     
}

.logo {    
    align-items: center;
    margin-inline: auto;
    width: 4.3rem;
    height: 5rem; 
    display: flex;
    gap: 1.4rem;
       
        
}

button {
    background: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: .1rem solid #8257E5;
    border-radius: .6rem;
    padding: 1.1rem 3.8rem;
    margin-inline: auto;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
    margin-left: 13rem;
}

h1 {
    font-family: 'Manrope';
    font-size: 8rem;
    color: var(--text-color);
    display: flex;    
    justify-content: center;
    margin-top: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

h2 {
    font-family: 'Manrope';
    font-size: 8rem;  
    display: flex;    
    justify-content: center;
    color: var(--backgrond);    
    -webkit-text-stroke-width: .01rem;
    -webkit-text-stroke-color: var(--button);
    line-height: 10.9rem;
   
}

#coffee {
    
    width: 79.87rem;
    height: 50.6rem;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    overflow: hidden;
    margin-top: 2.9rem;
    border: none;      
}